
<div class="middle">
    <div class="middle2">
        <h1>HTML Styles</h1>
        <!--  -->
        <button class="button">HOME</button>
        <button class="button" style="float: right;margin-right:30px;">NEXT</button>
        <br><br>
        <!--  -->

        <hr>
        <p>The HTML style attribute is used to add styles to an element, such as color, font, size, and more.</p>
        <hr><br>

        <div class="ex"><span>Example</span>
            <div class="ex1">
                <P class="para" style="color: red;"> I am red</P>
                <P class="para2" style="color:blue;"> I am red</P>
                <P class="para3" style="color:brown;"> I am red</P>
                                     
            </div>
        </div><br><br><br><hr>

<!--  -->
<h1>The HTML Style Attribute</h1>
<p>Setting the style of an HTML element, can be done with the style attribute.</p>
<p>The HTML style attribute has the following syntax:</p>
<br>
<div class="ex"><span>Example</span>
    <div class="ex1">
       <span><</span>tagname style
       <span>="proprity:value"</span>>
                             
    </div>
</div>
<p class="para4" style="font-style: italic;">The property is a CSS property. The value is a CSS value.</p>
<br>
<div class="para5" style="width:100%;height:50px;background-color: yellow;">
    <p>You will learn more about CSS later in this tutorial.</p></div>
    <br><br><hr>

<!--  -->
<h1>Background Color</h1>
<p>The CSS background-color property defines the background color for an HTML element.</p>
<br>

<div class="ex"><span>Example</span>
    <div class="ex1">

        <span><</span>body style<span>"background-color:powerblue</span>><br>
        <span><</span>h1>this is heading<span><</span>/h1><br>
        <span><</span>p>this is paragraph<span><</span>/p><br>
        <span><</span>/body>
         
                             
    </div>
</div><br><br><hr>

<!--  -->

<div class="ex"><span>Example</span>
    <div class="ex1">

      
        <span><</span>h1 style="backgroun-color:blue">this is heading<span><</span>/h1><br>
        <span><</span>p style="backgroun-color:red">this is paragraph<span><</span>/p><br>
                 
                             
    </div>
</div><br><br><hr>

<!--  -->
<h1>Fonts</h1>
<p>The CSS font-family property defines the font to be used for an HTML element:</p>
<br>

<div class="ex"><span>Example</span>
    <div class="ex1">

      
        <span><</span>h1 style="font-family:verdana;">this is heading<span><</span>/h1><br>
        <span><</span>p style="font-family:courier;>this is paragraph<span><</span>/p><br>
                 
                             
    </div>
</div><br><br>

<!--  -->
<h1>Text Color</h1>
<p>The CSS color property defines the text color for an HTML element:</p>
<br>

<div class="ex"><span>Example</span>
    <div class="ex1">

      
        <span><</span>h1 style="color:blue;">this is heading<span><</span>/h1><br>
        <span><</span>p  style="color:red;"">this is paragraph<span><</span>/p><br>
                 
                             
    </div>
</div><br><br>

<!--  -->
<h1>Text Size</h1>
<p>The CSS font-size property defines the text size for an HTML element:</p>
<br>

<div class="ex"><span>Example</span>
    <div class="ex1">

      
        <span><</span>h1  style="font-size:300%;">this is heading<span><</span>/h1><br>
        <span><</span>p  style="font-size:160%;">this is paragraph<span><</span>/p><br>
                 
                             
    </div>
</div><br><br>

<!--  -->
<h1>Text Alignment</h1>
<p>The CSS text-align property defines the horizontal text alignment for an HTML element:</p>
<br>

<div class="ex"><span>Example</span>
    <div class="ex1">

      
        <span><</span>h1  style="text-align:center;"">Centered heading<span><</span>/h1><br>
        <span><</span>p  style="text-align:center;">Centered paragraph<span><</span>/p><br>
                 
                             
    </div>
</div><br><br><hr>

<!--  -->
<h2>Chapter Summary</h2>
<ul>
    <li>Use the style attribute for styling HTML elements</li>
    <li>Use background-color for background color</li>
    <li>Use color for text colors</li>
    <li>Use font-family for text fonts</li>
    <li>Use font-size for text sizes</li>
    <li>Use text-align for text alignment
    </li>
</ul>









    </div>
</div>
