<div class="middle">
    <div class="middle2">
        <h1>HTML Links</h1>
        <!--  -->
        <button class="button">HOME</button>
        <button class="button" style="float: right;margin-right:30px;">NEXT</button>
        <br><br>
        <!--  -->
        <hr>
        <p>Links are found in nearly all web pages. 
            Links allow users to click their way from page to page.</p>
        <hr>
<!--  -->
<h2>HTML Links - Hyperlinks</h2>
<p>HTML links are hyperlinks.</p>
<p>You can click on a link and jump to another document.</p>
<p>When you move the mouse over a link, the mouse arrow will turn into a little hand.</p>
<p class="note"><br>Note: A link does not have to be text. A link can be an image or any other HTML element!</p>

<!--  -->
<h2>HTML Links - Syntax</h2>
<p>The HTML a tag defines a hyperlink. It has the following syntax:</p>

    
    <div class="ex1">
        <div class="exx1">
        <br><span><</span>a href>="url"<span><</span>>link text<span><</span>/a>
         </div>
    </div><br><br><hr>
<!--  -->

    <p>The most important attribute of the a element is the href attribute, 
        which indicates the link's destination.</p>
     <p>The link text is the part that will be visible to the reader.</p>
     <p>Clicking on the link text, will send the reader to the specified URL address.</p>
    
     
    <div class="ex1">
        <div class="exx1">
        <br><span><</span>a href>="https://www.w3schools.com/"<span><</span>>Visit w3scholl<span><</span>/a>
         </div>
    </div><br>
<p>By default, links will appear as follows in all browsers:</p>
<ul>
    <li>An unvisited link is underlined and blue</li>
    <li>A visited link is underlined and purple</li>
    <li>An active link is underlined and red</li>
</ul>

<p class="note"><br>Tip: Links can of course be styled with CSS, to get another look!</p>

<!--  -->

<h2>HTML Links - The target Attribute</h2>
<p>By default, the linked page will be displayed in the current browser window.
     To change this, you must specify another target for the link.</p>
 <p>The target attribute specifies where to open the linked document.</p>
 <ul>
     <li><mark class="markk">_self</mark> - Default. Opens the document in the same window/tab as it was clicked</li>
     <li><mark class="markk">_blank</mark> - Opens the document in a new window or tab</li>
     <li><mark class="markk">_parent </mark> - Opens the document in the parent frame</li>
     <li><mark class="markk">_top </mark> - Opens the document in the full body of the window</li>

 </ul>
    <!--  -->

    <div class="ex1">
        <div class="exx1">
       <br> <span><</span>a href>="url"<span>target="_blank"</span>>Visit url<span><</span>/a>
         </div>
    </div><br>
<!--  -->
<h2>Absolute URLs vs. Relative URLs</h2>
<p>Both examples above are using an absolute URL (a full web address) in the href attribute.</p>
<p>A local link (a link to a page within the same website) is specified with a relative URL (without the "https://www" part):</p>
<br><hr>
<!--  -->
<h2>HTML Links - Use an Image as a Link</h2>
<p>To use an image as a link, just put the img tag inside the a tag:</p>

<div class="ex2">
    <div class="exx2s">
        <span><</span>a href="default.asp"><br>
        <span><</span>img src="ii.gif"<span>alt="tutorial"</span>style="width:100px;height:20px">
     </div>
</div>
<!--  -->
<h1>Link to an Email Address</h1>
<p>Use <mark class="markk">mailto:</mark> inside the <mark>href</mark> attribute to create a link that opens the user's email program (to let them send a new email):</p>
 
<div class="ex1">
    <div class="exx1">
   <br> <span><</span>a href>="mailto:abc@gmail.com"><span>Send email</span><span><</span>/a>
     </div>
    </div><br><hr>

<!--  -->
<h2>Button as a Link</h2>
<p>To use an HTML button as a link, you have to add some JavaScript code.</p>

<div class="ex1">
    <div class="exx1">
   <br> <span><</span>button onclick=""><span>Html tuotrial</span><span><</span>/buttton>
     </div>
    </div>

<!--  -->
<p class="note"><br>Tip: Learn more about JavaScript in our JavaScript Tutorial.</p>
<br><br><br><hr>
<!--  -->
<h2>Link Titles</h2>
<p>The title attribute specifies extra information about an element. 
The information is most often shown as a tooltip text when the mouse moves over the element.</p>

<div class="ex2">
    <div class="exx2">
         <span><</span>a href>="url">title="go to url title<span>>visit our url</span><span><</span>/a>

     </div>
</div><br><br><hr>
<!--  -->
<h2>Chapter Summary</h2>
<ul>
    <li>Use the <mark>a</mark> element to define a link</li>
    <li>Use the <mark>href</mark> attribute to define the link address</li>
    <li>Use the <mark>target</mark> attribute to define where to open the linked document</li>
    <li>Use the <mark>img</mark>  element (inside --a tag) to use an image as a link</li>
    <li>Use the <mark> mailto:</mark>  scheme inside the href attribute to create a link that opens the user's email program</li>

</ul><br>
<!--  -->
<table>
    <tr>
        <th>tag</th>
        <th>Description</th>   
    </tr>
   <tr>
       <td><span><</span>a></td>
       <td>	Defines a hyperlink</td>
   </tr>
</table><br>

<!--  -->
<p class="note"><br>For a complete list of all available HTML tags, visit our HTML Tag Reference.</p>
<br><br><br><hr>


    
    </div>
</div>


<!--------------------------------------------------------------------->
