<div class="container-fluid">

    <h1 id="A">HTML Elements</h1>

        <div class="row">
            <button class="btn btn-success"  id="prev"> < Previous</button>
            <button class="btn btn-success"  id="next">Next ></button>
        </div><br>

        <div class="row" id="row2">
            HTML is the standard markup language for creating Web pages.
        </div>
<!-------------------------------------------------------------------------->
        <div class="row" id="row3">
            <h2 id="B">What is HTML?</h2>

            <ul>
            <li>HTML stands for Hyper Text Markup Language</li>
            <li>HTML is the standard markup language for creating Web pages</li>
            <li>HTML describes the structure of a Web page</li>
            <li>HTML consists of a series of elements</li>
            <li>HTML elements tell the browser how to display the content</li>
            <li>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
            </ul>

        </div>

<!--------------------------------------->
        <div class="row" style="height:400px;background-color:lightgrey;">
            <p style="margin-left:30px;">
                <b>Example:</b>
            </p><br>
         
         <div class="col-md-8" style="height:300px;background-color:white;border-left:3px solid green;margin-top:50px;">
         
            <"!DOCTYPE html"><br>
            <"html"><br>
            <"head"><br>
            <"title">Page Title<"/title"><br>
            <"/head"><br>
            <"body"><br>
            <"h1">My First Heading<"/h1"><br>
            <"p">My First paragraph.<"/p"><br>
            <"/body"><br>
            <"/html"><br><br>
            <button class="btn btn-success">Try it Yourself >></button>
         </div>
         
         <b style="margin-left:20px;">Click on the "Try it Yourself" button to see how it works.</b>
                 
         </div>

<!---------------------------------->

<div class="row" id="row3">
    <h3 id="B">Example Explained</h3>

    <ul>
        <li>The <code>&lt;!DOCTYPE html&gt;</code> declaration defines 
        that this document is an HTML5 document</li>
        <li>The <code>&lt;html&gt;</code> element is the root element of an HTML 
        page</li>
         <li>The <code>&lt;head&gt;</code> element contains meta information about the 
         HTML page</li>
         <li>The <code>&lt;title&gt;</code> element specifies a title for the 
         HTML page (which is shown in the browser's title bar or in the page's tab)</li>
         <li>The <code>&lt;body&gt;</code> element defines the 
         document's body, and is a container for all the visible contents, such as 
         headings, paragraphs, images, hyperlinks, tables, lists, etc.</li>
         <li>The <code>&lt;h1&gt;</code> element defines a large heading</li>
         <li>The <code>&lt;p&gt;</code> element defines a paragraph</li>
        </ul>
        <hr>
        
</div>

<!---------------------------------->

<h1>What is an HTML Element?</h1>
<p>An HTML element is defined by a start tag, some content, and an end tag:</p>
<p><"tagname">Content goes here...<"/tagname"></p>
<p>The HTML element is everything from the start tag to the end tag:</p>
<p><"h1">My First Heading<"/h1"></p>
<p><"p">My first paragraph.<"/p"></p>
<!----------------------------------------------------->
<div class="row" style="height:200px;">
    <table class="table table-bordered col-md-8">
        <tr>
            <th>Start tag</th>
            <th>Element content</th>
            <th>End tag</th>
        </tr>
       
        <tr>
            <td><"h1"></td>
            <td>My First Heading</td>
            <td><"/h1"></td>
        </tr>

        <tr>
            <td><"p"></td>
            <td>My First Paragraph</td>
            <td><"/p"></td>
        </tr>

        <tr>
            <td><"br"></td>
            <td>none</td>
            <td>none</td>
        </tr>
    </table>
</div>
<!------------------------------------------------------------->

<div class="row" id="C">Note: Some HTML elements have no content (like the <"br"> element).
     These elements are called empty elements. Empty elements do not have an end tag!</div>

<!----------------ads------------------------------------------>

<div class="row" id="D">
    <h6 style="margin-left:200px;margin-top:10px;">Advertisement</h6>
    <div class="col-md-8" id="E">
        <h2>Online Kids Coding Classes</h2>
        <p>One-on-one online classes from home,Curriculam specially designed for kids 6-14</p>
        <div class="row" id="F">
            <p class="col-md-6" style="color:white;"><b>Online Kids Coding Classes</b></p>
            <div class="col-md-2" id="G">OPEN</div>
        </div>
    </div>
</div>
<!-------------------------------------------------------------------------->
<h2>Web Browsers</h2>
<p>The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read HTML documents and display them correctly.</p>
<p>A browser does not display the HTML tags, but uses them to determine how to display the document:</p>

<!--------------IMAGE DEMO TRY-------------------------------------->

<div class="row">

<img src="img_chrome.png">

</div>


<!-------------------------------------------------------------------------->

<h2>HTML History</h2>
<p>Since the early days of the World Wide Web, there have been many versions of HTML:</p>
<table class="table table-bordered notranslate">
  <tr>
    <th>Year</th>
    <th>Version</th>
  </tr>
  <tr>
    <td>1989</td>
    <td>Tim Berners-Lee invented www</td>
  </tr>
  <tr>
    <td>1991</td>
    <td>Tim Berners-Lee invented HTML</td>
  </tr>
  <tr>
    <td>1993</td>
    <td>Dave Raggett drafted HTML+</td>
  </tr>
  <tr>
    <td>1995</td>
    <td>HTML Working Group defined HTML 2.0</td>
  </tr>
  <tr>
    <td>1997</td>
    <td>W3C Recommendation: HTML 3.2</td>
  </tr>
  <tr>
    <td>1999</td>
    <td>W3C Recommendation: HTML 4.01</td>
  </tr>
  <tr>
    <td>2000</td>
    <td>W3C Recommendation: XHTML 1.0</td>
  </tr>
  <tr>
    <td>2008</td>
    <td>WHATWG HTML5 First Public Draft</td>
  </tr>
  <tr>
    <td>2012</td>
    <td><a>WHATWG HTML5 Living Standard</a></td>
  </tr>
  <tr>
    <td>2014</td>
    <td><a>W3C Recommendation: HTML5</a></td>
  </tr>
  <tr>
    <td>2016</td>
    <td>W3C Candidate Recommendation: HTML 5.1</td>
  </tr>
  <tr>
    <td>2017</td>
    <td><a>W3C Recommendation: HTML5.1 2nd Edition</a></td>
  </tr>
  <tr>
    <td>2017</td>
    <td><a>W3C Recommendation: HTML5.2</a></td>
  </tr>
</table>





<hr>
<h1>HTML Page Structure</h1>
<p>Below is a visualization of an HTML page structure:</p>


<!-------------------------------------------------------------------------->

<div class="row" id="row5">

    <div class="col-md-10" style="height:150px;margin-top:30px;border:2px solid grey;margin-left:30px;"><"head">
    <div class="col-md-10" style="height:50px;margin:20px;border:2px solid grey;"><"title">Page title<"/title"></div>
    <"/head"></div>


    <div class="col-md-10" style="height:300px;margin:30px;border:2px solid grey;"><"body">

    <div class="col-md-10" style="height:200px;margin:20px;border:2px solid grey;">
      <div class="col-md-10" style="height:50px;margin:10px;border:2px solid grey;"><"h1">This is a heading<"/h1"></div>
      <div class="col-md-10" style="height:50px;margin:10px;border:2px solid grey;"><"p">This is a paragraph.<"/p"></div>
      <div class="col-md-10" style="height:50px;margin:10px;border:2px solid grey;"><"p">This is another paragraph.<"/p"></div>
    </div> 

    <"/body"></div>
</div>
<!---------------------------------------------------------------------->

<!-----------------------------add------------------------------------------->
<div class="row" id="D">
    <h6 style="margin-left:200px;margin-top:10px;">Advertisement</h6>
    <div class="col-md-8" id="E">
        <h2>Book free live classes today</h2>
        <p>One-on-one online classes from home for kids</p>
        <div class="row" id="F">
            <p class="col-md-6" style="color:white;"><b>Online Kids Coding Classes</b></p>
            <div class="col-md-2" id="G">OPEN</div>
        </div>
    </div>
</div>


<!---------------end part------------------------>

<div class="row" style="height:100px;border:1px solid lightgrey;">

    <div class="col-md" id="MIN">REPORT ERROR</div>
    <div class="col-md" id="MIN">FORUM</div>
    <div class="col-md" id="MIN">ABOUT</div>
    <div class="col-md" id="MIN">SHOP</div>
    
    
    </div>
    
    <!--------------------------------------->
    
    <div class="row" style="height:400px;">
    
        <div class="col-lg">
            <div class="row" style="margin-left:35px;"><b>Top Tutorials</b></div>
            <div class="row" style="height:400px;">
                <ul>
                    <li><a>HTML Tutorials</a></li>
                    <li><a>CSS Tutorials</a></li>
                    <li><a>Javascript Tutorials</a></li>
                    <li><a>Ho To Tutorials</a></li>
                    <li><a>SQL Tutorials</a></li>
                    <li><a>Python Tutorials</a></li>
                    <li><a>W3.CSS Tutorials</a></li>
                    <li><a>Bootstrap Tutorials</a></li>
                    <li><a>PHP Tutorials</a></li>
                    <li><a>JQuery Tutorials</a></li>
                    <li><a>JAVA Tutorials</a></li>
                    <li><a>C++ Tutorials</a></li>
                </ul>
            </div>
        </div>
    
        <div class="col-lg">
            <div class="row" style="margin-left:35px;"><b>Top References</b></div>
            <div class="row" style="height:400px;">
                <ul>
                    <li><a>HTML References</a></li>
                    <li><a>CSS References</a></li>
                    <li><a>Javascript References</a></li>
                    <li><a>Ho To References</a></li>
                    <li><a>SQL References</a></li>
                    <li><a>Python References</a></li>
                    <li><a>W3.CSS References</a></li>
                    <li><a>Bootstrap References</a></li>
                    <li><a>PHP References</a></li>
                    <li><a>JQuery References</a></li>
                    <li><a>JAVA References</a></li>
                    <li><a>C++ References</a></li>
                </ul>
            </div>
        </div>
    
        <div class="col-lg">
            <div class="row" style="margin-left:35px"><b>Top Examples</b></div>
            <div class="row" style="height:400px;">
                <ul>
                    <li><a>HTML Examples</a></li>
                    <li><a>CSS Examples</a></li>
                    <li><a>Javascript Examples</a></li>
                    <li><a>Ho To Examples</a></li>
                    <li><a>SQL Examples</a></li>
                    <li><a>Python Examples</a></li>
                    <li><a>W3.CSS Examples</a></li>
                    <li><a>Bootstrap Examples</a></li>
                    <li><a>PHP Examples</a></li>
                    <li><a>JQuery Examples</a></li>
                    <li><a>JAVA Examples</a></li>
                    <li><a>C++ Examples</a></li>
                </ul>
            </div>
        </div>
    
        <div class="col-lg">
            <div class="row" style="margin-left:35px"><b>Web Certificates</b></div>
            <div class="row" style="height:400px;">
                <ul>
                    <li><a>HTML Certificates</a></li>
                    <li><a>CSS Certificates</a></li>
                    <li><a>Javascript Certificates</a></li>
                    <li><a>Ho To Certificates</a></li>
                    <li><a>SQL Certificates</a></li>
                    <li><a>Python Certificates</a></li>
                    <li><a>W3.CSS Certificates</a></li>
                    <li><a>Bootstrap Certificates</a></li>
                    <li><a>PHP Certificates</a></li>
                    <li><a>JQuery Certificates</a></li>
                    <li><a>JAVA Certificates</a></li>
                    <li><a>C++ Certificates</a></li>
                </ul>
            </div>
        </div>
    
    </div>
    
    <!---------last row------------------------------>
           
    <div class="row" style="height:200px;color:lightslategrey;">
        <p style="margin-left:50px;margin-right: 50px;">W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding.
        Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
        While using this site, you agree to have read and accepted our terms of use, cookie and privacy policy.
        <br><b>Copyright 1999-2020 by Refsnes Data.All Rights Reserved.Powered by W3.CSS.</b>
        </p>
    
    </div>
    
    
    
    






<!----end of container-->
</div>  

