#A{
    margin-left:10px;
    margin-top:10px;
}

#prev{
    height:40px;
    padding:10px;
    margin-left:20px;
}

#next{
    height:40px;
    padding:10px;
    margin-left:450px;
    width:10%;
}


.col-md-3:hover{
    background-color:black ;
    color:white;
}

.col-md-3{
    background-color:lightgrey;
    color:black;
    line-height: 50px;
    text-align: center;
}

.col-md{
    height:50px;
    background-color:lightgrey;
    margin:20px;
}


.col-lg{
    height:350px;
    margin:20px;
    text-align:center;
}


li{
    list-style-type:none;

}


#MIN{
    line-height: 50px;
    text-align: center;
}


a:hover{
    color: green;
}

a{
    color:black;
    text-decoration: underline;
}












































































